body {
  background-color: white;
  font-family: sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 522px;
  background-color: rgb(92, 92, 92);
  margin: 16px;
}

.btn-xlg {
  width: 117px;
  height: 90px;
}

.display {
  height: 110px;
  width: 100%;
  font-size: 40px;
  color: white;
  text-align: end;
  padding-right: 10px;
}

.keypad {
  display: flex;
  gap: 6px;
}

.zero {
  width: 236px;
}

.screen-status {
  display: flex;
  gap: 2px;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.operators {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.non-operators {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
